@{
    ViewBag.Title = "ForgotPassord";
    Layout = null;
    var message = Convert.ToString(TempData["Message"]);
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<!-- Custom styles for this template-->

<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<style>
    body {
        background: #f8f8f8;
    }

        body .container {
            width: 900px;
            /* background: #fff; */
            margin: 0 auto;
            box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
            -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
            -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
            -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
            border-radius: 20px;
            -moz-border-radius: 20px;
            -webkit-border-radius: 20px;
            -o-border-radius: 20px;
            -ms-border-radius: 20px;
            background: white;
        }

    input {
        width: 100%;
        display: block;
        border: none;
        border-bottom: 1px solid #999;
        padding: 6px 30px;
        font-family: Poppins !important;
        box-sizing: border-box;
        outline: none;
    }

    .form-group {
        position: relative;
        margin-bottom: 25px;
        overflow: hidden;
        outline: none;
    }

    .Account-label {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        color: #222;
    }

    .form-submit {
        display: inline-block;
        background: #6dabe4;
        color: #fff;
        border-bottom: none;
        width: auto;
        padding: 15px 39px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        margin-top: 25px;
        cursor: pointer;
    }

    .sign-up-image img {
        margin: 0 55px;
    }

    .sign-up-conatainer-box {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 4rem;
        padding: 75px 0;
    }

    .signup-image-link {
        font-size: 14px;
        color: #222;
        display: block;
        text-align: end;
        padding: 2rem;
        font-family: var(--Poppins);
    }

    .form-heading h1 {
        line-height: 1.66;
        margin: 0;
        padding-top: 0;
        color: #222;
        font-family: var(--Poppins);
        font-size: 40px;
        font-weight: bolder;
    }

    .form-heading {
        margin-bottom: 33px;
    }
    /*-------**--------Form-------**----------*/

</style>
<section>
    <div class="container">
        <div class="sign-up">
            <div class="sign-up-conatainer-box">
                <div class="message-box p-3 m-1 mb-3" @(message != null && message != string.Empty ? "" : "hidden")>
                    <span class="message">@message</span>
                </div>
                <div class="sign-up-conatainer">
                    <div class="form-heading">
                        <h1>Forgot Password</h1>
                    </div>
                    <form id="LoginForm">
                        <div class="form-group">
                            <span class="Account-label"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                            <input name="EmailId" id="EmailId" type="email" placeholder="Your Email" required>
                        </div>
                        <div>
                            <label id="EmailId-error" class="error mb-3 text-danger" for="EmailId"></label>
                        </div>
                        <div class="form-group">
                            <button type="button" id="UserLogin" class="btn btn-primary">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
                <div class="sign-up-image">
                    <img src="~/Content/Images/signin-image.jpg" alt="Signup Image" />
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(".spinner-border").hide();
    $("#UserLogin").prop('disabled', false);
    $("#LoginForm").validate({
        rules: {
            EmailId: {
                required: true,
                email: true,
            },
        },
        messages: {
            EmailId: {
                required: '* Email required',
                email: '* Enter your valid email'
            },
        }
    });
    $("#UserLogin").click(function () {
        $("#UserLogin").prop('disabled', true);
        $(".spinner-border").show();
        if ($("#LoginForm").valid()) {
            var EmailId = $("#EmailId").val();
            $.ajax({
                type: 'POST',
                url: '/AdminAccount/ForgotPassword',
                data: {
                    Email: EmailId,
                },
                success: function (response) {
                    if (response.result == true) {
                        alert(response.msg);
                        $(".spinner-border").hide();
                        $("#UserLogin").prop('disabled', false);
                    }
                    else {
                        alert(response.msg);
                        $("#UserLogin").prop('disabled', false);
                        $(".spinner-border").hide();
                    }
                },
                error: function (response) {
                    alert("Something went wrong");
                    $("#UserLogin").prop('disabled', false);
                    $(".spinner-border").hide();
                }
            });
        }
        else {
            $(".spinner-border").hide();
        }
        $("#UserLogin").prop('disabled', false);
    });
</script>