<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<connectionstrings>
    <add name="HotelAutomationDb" connectionstring="data source=LAPTOP-7V3HJ9L5;initial catalog=hotelautomationdb;integrated security=true;trusted_connection=true; timeout=120" providername="system.data.sqlclient" />
  </connectionstrings>-->
	  <connectionstrings>
    <add name="hotelautomationdb" connectionstring="data source=n1nwplsk12sql-v01.shr.prod.ams1.secureserver.net;initial catalog=hotelautomationdb;integrated security=false;user id=jeetn;password=belizmo@123;connect timeout=15;encrypt=false;packet size=4096" providername="system.data.sqlclient"/>
  </connectionstrings>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>